.toastku {
    background: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 1);
    border-radius: 12px;
    padding: 20px 35px 20px 25px;
    position: absolute;
    top: 25px;
    right: 35px;
    border-left: 6px solid #4070f4;
    overflow: hidden;
    transform: translateX(calc(100% + 35px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 20;
}

.dashboard .toastku {
    top: 70px !important;
}

.toastku.active {
    transform: translateX(0%);
}

.toastku .toast-content {
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: #4070f4;
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text {
    font-size: 15px;
    font-weight: 400;
    color: #666666;
}

.message .text.text-1 {
    font-weight: 600;
    color: #333;
}

.toastku .close {
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toastku .close:hover {
    opacity: 1;
}

.toastku .progress {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.toastku .progress.success:before {
    background-color: rgba(25, 135, 84, 1);
} 

.toastku .progress.danger:before {
    background-color: rgba(220, 53, 69, 1);
} 

.toastku .progress.warning:before {
    background-color: rgba(255, 193, 7, 1);
} 

.toastku .progress:before {
    content: '';
    position: absolute;
    bottom: 0px;
    right: 0%;
    height: 100%;
    width: 100%;
    background-color: #4070f4;
}

.progress.active:before {
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100%{
        right: 100%;
    }
}
